:root {
  font-family: 'Chakra Petch', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Chakra Petch', sans-serif;
}


.nav {
  font-size: 3rem;
  height: 12rem;
  display: flex;
  justify-content: space-evenly;
  color: antiquewhite;
  position: relative;
  padding-top: 3rem;
  background-image: linear-gradient(to bottom, #282c34, rgb(0, 0, 0));
}

.row {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: #767677;
  color: aliceblue;
  margin: 2rem;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin-bottom: 5rem;
}

.card a {
  color: aliceblue;
  margin-left: 1.5rem;
}

.cardImg {
  height: 10rem;
  width: 10rem;
}

.tri1 {
  width: 23rem;
  height:23rem;
  background-color: #61dafb;
}

.carouselDiv {
  display: flex;
  justify-content: center;
  background-color: #0a0a0a;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #282c34)

}

.car {
  height: max-content;
  width: 80%;
  background-color:#767677;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  
}

.parallax  {
  width: 100%;
  height: 100rem;
  background-image: url("./img/roof_sil.svg");
  background-size: cover;
  position: relative;
  margin-top: -10rem;
  margin-bottom: -70rem;
  margin-left: -0.1rem;
  z-index: -10;
}

.content-div {
  width: 100%;
  height: 150vh;
}

.about {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #282c34);
  margin-top: -5rem;
}

#aboutMe {
  font-size: 3.25rem;
  color: aliceblue;
  margin: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.intro {
  color: aliceblue;
  position: absolute;
  top: 10rem;
  margin: 5rem;
}

#greeting {
margin-top: 4rem;
font-size: 4rem;
visibility: hidden;
animation: greet 4s linear forwards;
}



#name {
  margin-top: 6rem;
  font-size: 4rem;
  opacity: 0;
  animation: name 4s linear 2s forwards infinite;
}

#scroll {
  margin-top: 8rem;
  font-size: 4rem;
  opacity: 0;
  animation: scroll 4s linear 6s alternate infinite;
}

@keyframes greet {
  0% {
    visibility: hidden;
    transform: rotateX(90deg);
  }
  100%{
    visibility: visible;
    transform: rotateX(0);
  }
  
}

@keyframes name {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  50%{
    
    transform: rotateX(0);
  }
  100% {
    opacity: 1;
    transform: rotateX(90deg);
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50%{
    
  }
  100% {
    opacity: 1;
    transform: rotateX(360deg);
  }
}

.nav-btn {
  color: aliceblue;
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: bold;
}

.graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  padding-top: 3rem;
  margin-top: -2rem;
  background-image: linear-gradient(to bottom, #282c34, rgb(0, 0, 0))

}

#message {
  margin: 3rem;
  color: aliceblue;
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

.infoDiv {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.infoDiv h1 {
  font-size: 4rem;
  margin: 1rem;
}

.carImage {
  height:65%;
  width: 65%;
  margin: 3rem;
  margin-left: 13.5rem;
}

.carInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 80%;
  }

  .sqimg {
    transform: scale(0.65);
  }

  .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

.carouselDiv{
  width: 100%;
}

  .carImage{
    height: 11rem;
    width: 70%;
    position: relative;
    left: -10rem;
    top: 0rem;
  }

  .car {
    height: max-content;
  }
}

.sqimg {
  /* transform-origin: 250; */
    animation: sqimg 15s ease-in-out infinite;
}

@keyframes sqimg {
  0%{

  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
      transform: rotateZ(360deg); 
  }
}

#sq1 {
  fill: black;
  transform-origin: 250px;
  animation: sq1 3s linear alternate infinite;
}

#sq2 {
  fill: black;
  transform-origin: 250px;
  animation: sq2 3s linear alternate infinite;
}

#sq3 {
  fill: black;
  transform-origin: 250px 250px;
  animation: sq3 3s linear alternate infinite;
}

#sq4 {
  fill: black; 
  transform-origin: 250px 250px;
  animation: sq4 3s linear alternate infinite;
}

@keyframes sq1 {
  0% {
      
  }
  50% {
    transform: rotateY(90deg);
      fill: rgb(42, 42, 209);
  }
  100% {
      transform: scale(0.1);
      fill: black;
  }
}

 @keyframes sq2 {
  0% {
      
  }
  50% {
    transform: rotateX(90deg);
      fill: darkblue;
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes sq3 {
  0% {
      
  }
  50% {
    transform: rotateX(90deg);
      fill: darkblue;
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes sq4 {
  0% {
      
  }
  50% {
    transform: rotateY(90deg);
      fill: rgb(42, 42, 209);
  }
  100% {
    transform: scale(0.1);
      fill: black;
  }
} 

.contactForm {
  background-color: #767677;
  margin: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm h2{
  font-size: 3rem;
  margin: 1rem;
  color: #0a0a0a;
}

.contactForm button {
  margin: 1rem;
  font-size: 2rem;
  border-radius: 0.75rem;
  background-color: aliceblue;
  color: #0a0a0a;
}

.contactForm input, textarea {
  width: 50%;
}